{% extends "game/base.html" %}
{% load staticfiles %}
{% block title_block %}
Login
{% endblock %}
{% block body_block %}
    <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>
    <div id="signupForm">
        <form class="form-signin">
          <div class="form-group">
              {% csrf_token %}
              {{ form.as_p }}
          </div>
          <input type="submit" value="Log in" class="btn btn-lg btn-info" />
          <input type="hidden" name="next" value="{{ next }}" />
          </div>
       </form>
       <p>Not a member? <a href="{% url 'registration_register' %}">Register</a> </p>
   </div>
    {% endblock %}
