<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!-- bootstrap -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <!-- custom stylesheet -->
        <link href="{% static "bootstrap/css/sixdegrees.css" %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>Six Degrees -
            {% block title_block %}
                Welcome to Six Degrees of Wikipedia
            {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="/game/dashboard">SixDegrees</a>
                {% else %}
                <a class="navbar-brand" href="/">SixDegrees</a>
                {% endif %}
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav ">
              {% if user.is_authenticated %}
              {% url 'dashboard' as dash_url %}
            <li {% if request.get_full_path == dash_url %}class="active"{% endif %}><a href="{% url 'dashboard' %}">{{ user.username }}'s dashboard</a><li>
              {% else %}
              {% url 'home' as home_url %}
            <li {% if request.get_full_path == home_url %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a><li>
            {% endif %}
            {% url 'index' as game_url %}
            <li {% if request.get_full_path == game_url %}class="active"{% endif %}><a href="{% url 'index' %}">New Game</a><li>
            {% url 'rules' as rules_url %}
            <li {% if request.get_full_path == rules_url %}class="active"{% endif %}><a href="{% url 'rules' %}">Rules</a><li>
            {% url 'scores' as scores_url %}
            <li {% if request.get_full_path == scores_url %}class="active"{% endif %}><a href="{% url 'scores' %}">Scores</a><li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'auth_logout' %}"?next="/">Logout</a><li>
              {% else %}
              {% url 'registration_register' as registration_register_url %}
              <li {% if request.get_full_path == registration_register_url %}class="active"{% endif %}><a href="{% url 'registration_register' %}">Registration</a><li>
              {% url 'auth_login' as auth_login_url %}
              <li {% if request.get_full_path == auth_login_url %}class="active"{% endif %}><a href="{% url 'auth_login' %}">Login</a><li>
              {% endif %}
        </ul>
        </div><!--/.nav-collapse -->
          </div>
        </nav>
        <div class="container">
        {% block body_block %}
        {% endblock %}
        </div>
        {% url 'index' as game_url %}
        {% if request.get_full_path != game_url %}
            <footer class="footer">
              <div class="container">
                <p>Built by <strong>Team B</strong> for Internet Technology project</p>
              </div>
            </footer>
        {% endif %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>
