<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
          Six Degrees -
            {% block title_block %}
                Welcome to Six Degrees of Wikipedia
            {% endblock %}
        </title>
    </head>
    <body>
        <hr/>
            <div>
                {% block body_block %}
                {% endblock %}
            </div>
        <hr/>
        <div>
            <ul>
                <a href="/">Home</a><li>
                <a href="/game/">New Game</a><li>
                <a href="/rules/">Rules</a><li>
                <a href="/scores/">Scores</a><li>
            </ul>
        </div>
    </body>
</html>