{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ user.username }}'s homepage
{% endblock %}
{% block body_block %}
    <div class="col-md-3 profile-col">
        <img src="{% static "test.jpg" %}" class="img-rounded img-responsive img-profile" alt="User profile img" />
        <h3>{{ user.username }}</h3>
        <h4 class="small">Member since {{ user.date_joined }}</h4>
        {% if best_score %}<h4 class="small">Best score: {{ best_score }}</h4>{% endif %}
        <hr/>
        <p>
            <ul>
                <li>
                    <a href="{% url 'register_profile' %}" class="btn btn-md btn-info btn-block">Edit profile</a>
                </li>
                <li>
                    <a href="#" class="btn btn-md btn-danger btn-block">Delete profile</a>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <a href="/game/" class="btn btn-info btn-lg btn-block">PLAY GAME</a>
        <hr/>
        <h2>Previous games</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead class="game-t-head">
                <tr>
                    <th>
                        Source
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if score_list %}
                    {% for Game in score_list %}
                        <tr>
                            <td>
                                {{ Game.source }}
                            </td>
                            <td>
                             {{ Game.destination }}
                            </td>
                            <td>
                                 {{ Game.score }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
