{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    the fun Wikipedia based game!
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <img src="{% static "img/logo.png" %}" class="img-responsive center-block" alt="Logo" />
    <div class="text-center">
        <p>
            Six Degrees is the new, exciting and fun knowledge based game!
        </p>
        <p>
            Traverse your way from Wikipedia article to article, until you reach your goal!</p>
        </p>
    </div>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>
<div>
    <img src="{% static "img/title.gif" %}" class="img-responsive " alt="Title screen gif" />
</div>
{% endblock %}
