{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    the fun Wikipedia based game!
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>SixDegrees</h1>
    <p>Welcome to the new, exciting and fun knowledge based game! Traverse your way from subject to subject, until you reach your goal!</p>
    </p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>
<div class="col-md-3 col-md-offset-2">
    <ul>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
    </ul>
</div>
<div class="col-md-3 col-md-offset-2">
    <ul>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
        <li>
            dfjnknfjds
        </li>
    </ul>
</div>
{% endblock %}
