{% extends "game/base.html" %}
{% load staticfiles %}
{% block title_block %}
Game
{% endblock %}
{% block body_block %}
      <div class="starter-template gamecontainer">
          <div class="goaloverlay" id="goal"></div>
          <div class="clicksoverlay" id="clicks"><small>clicks: </small>0</div>
          <div class="give-up" id="give-up">
              <a href="#" class="btn btn-lg btn-danger" onclick="gameOver(-1)">Give up!</a>
          </div>
          <div class="game-inner" id="container">
              <div class="overlay" id="gameoverlay">
                  <button class="btn btn-lg btn-info">
                      <span class="glyphicon glyphicon-refresh spinning"></span>
                  </button>
              </div>
          </div>
      </div>
  <script src="{% static "js/sigma.min.js" %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
  <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
  <script src="{% static "js/plugins/sigma.classes.graph.js" %}"></script>
  <script src="{% static "js/plugins/sigma.plugins.animate.min.js" %}"></script>
  <script src="{% static "js/game.js" %}" onload="getStartData()"></script>
{% endblock %}
