{% load staticfiles %}

<!-- <!DOCTYPE html>
<head>
    <title>Six Degrees</title>
    <script src="{% static "js/sigma.min.js" %}"></script>
    <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
    <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
    <script src="{% static "js/plugins/sigma.classes.graph.js" %}"></script>

    <style type="text/css">
      #container {
        width: 80%;
        height: 80%;
        margin: auto;
      }
    </style>

</head>
<body>

    <div id="container"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "js/six_degrees.js" %}"</script>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Basic sigma.js example</title>
  <style type="text/css">
    body {
    }
    #container {
      position: absolute;
      width: 80%;
      height: 80%;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="container"></div>
  <script src="{% static "js/sigma.min.js" %}"></script>
  <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
  <script src="{% static "js/plugins/sigma.parsers.json.min.js" %}"></script>
  <script src="{% static "js/plugins/sigma.classes.graph.js" %}"></script>
  <script src="{% static "js/plugins/sigma.plugins.animate.min.js" %}"></script>
  <script>
  var data = {
    "nodes": [
      {
        "y": 0,
        "x": 0,
        "size": 5,
        "id": "n0",
        "label": "Dundee"
      },
      {
        "y": 1,
        "x": 1,
        "size": 1,
        "id": "n1",
        "label": "1906 Dundee fire"
      },
      {
        "y": -1,
        "x": -1,
        "size": 1,
        "id": "n2",
        "label": "4J Studios"
      },
      {
        "y": 0,
        "x": 1,
        "size": 1,
        "id": "n3",
        "label": "5th Scottish Parliament"
      },
      {
        "y": 1,
        "x": 0,
        "size": 1,
        "id": "n4",
        "label": "A.C. Milan"
      },
      {
        "y": -1,
        "x": 0,
        "size": 1,
        "id": "n5",
        "label": "A.S. Roma"
      }
    ],
    "edges": [
      {
        "source": "n0",
        "id": "e1",
        "target": "n1"
      },
      {
        "source": "n0",
        "id": "e2",
        "target": "n2"
      },
      {
        "source": "n0",
        "id": "e3",
        "target": "n3"
      },
      {
        "source": "n0",
        "id": "e4",
        "target": "n4"
      },
      {
        "source": "n0",
        "id": "e5",
        "target": "n5"
      }
    ]
  }


    sigma.classes.graph.addMethod('neighbors', function(nodeId) {
    var k,
        neighbors = {},
        index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];

    return neighbors;
    });
    // Let's first initialize sigma:
    s = new sigma({
        graph: data,
        container: 'container',
        settings: {
            defaultNodeColor: '#666',
            labelThreshold: 0
        }
    });

    var currentNode=null;
    s.bind('clickNode', function(e) {
      //alert(e.data.node.label);
      var nodeId = e.data.node.id,
          toKeep = s.graph.neighbors(nodeId);
      toKeep[nodeId] = e.data.node;
      var newNode = Math.random();
      if (e.data.node.id == currentNode || currentNode == null) {
          e.data.node.color = '#696';
          e.data.node.size = 5;

          s.graph.edges().forEach(function(e) {
              if(e.source == currentNode) {
                  e.color = '#696';
          }});
        //   e.data.node.y*=2;
        //   e.data.node.x*=2;

          s.graph.addNode({ id: newNode,
            "x": e.data.node.x + Math.random(),
            "y": e.data.node.x + Math.random(),
            "size": 1,
            "color": "#f00"});
          s.graph.addEdge({
            id: newNode,
            source: newNode,
            target: e.data.node.id,
          });
          var n = s.graph.nodes(newNode);

          sigma.misc.animation.camera(
            s.camera,
            {
              x: n[s.camera.readPrefix + 'x'],
              y: n[s.camera.readPrefix + 'y'],
              ratio: 1
            },
            { duration: s.settings('animationsTime') }
          );
          s.refresh();
          currentNode = newNode;

          // ajax to do stuff
          $.ajax({
                url: '127.0.0.1:8000/game/incomingnode/Testing',
                type: 'get', // This is the default though, you don't actually need to always mention it
                success: function(data) {
                    alert(data);
                },
                failure: function(data) {
                    alert('Got an error dude');
                }
            });
      }});

    // Finally, let's ask our sigma instance to refresh:
    s.refresh();
  </script>
</body>
</html>
