{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Learn the Rules!
{% endblock %}

{% block body_block %}
<div class="col-md-4 col-md-offset-4">
    <h2 class="how-to-title">How to play Six Degrees!</h2>
    <ol class="how-to-play">
        <li>
            Click on new game.
        </li>
        <li>
            You will be presented with your start and goal articles.
        </li>
        <li>
            Click on the first node to reveal your next possible choices.
        </li>
        <li>
            Progress through the game, clicking node by node until you get to your goal!
        </li>
    </ol>
    <p>
        <a href="#" class="btn btn-lg btn-info btn-block">Play Tutorial Game!</a>
    </p>
</div>
{% endblock %}
