{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Learn the Rules!
{% endblock %}

{% block body_block %}
<div class="col-md-6 col-md-offset-3">
    <h2 class="how-to-title">How to play Six Degrees!</h2>
    <ol class="how-to-play">
        <li>
            Click on new game.
        </li>
        <li>
            You will be presented with your start and goal articles.
        </li>
        <li>
            Click on the first node to reveal your next possible choices.
        </li>
        <li>
            Progress through the game, clicking node by node until you get to your goal!
        </li>
    </ol>
    <blockquote>
        <strong>Psssst! Here's an extra hint.</strong> You can zoom in and around the graph by using your mouse wheel, or pinching on mac!
    </blockquote>
    <p>Not sure yet on how to play? Try our interactive tutorial!</p>
    <p><a href="{% url 'tutorial' %}" class="btn btn-lg btn-info btn-block">Play Tutorial Game!</a></p>
</div>
{% endblock %}
