{% extends 'game/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Scores
{% endblock %}
    {% block body_block %}
    {% if score_list %}
    <div class="col-md-8 col-md-offset-1">
        <table class="table table-striped table-bordered table-hover">
            <thead class="game-t-head">
            <tr>
                <th>
                    User
                </th>
                <th>
                    Score
                </th>
                <th>
                    Links

                <th>
                    Source
                </th>
                <th>
                    Destination
                </th>
            </tr>
            <thead/>
            <tbody>
                        {% for Game in score_list %}
                    <tr>
                        <td>
                         {{ Game.user }}
                            </td>
                        <td>
                         {{ Game.score }}
                            </td>
                        <td>
                         {{ Game.numLinks }}
                            </td>
                        <td>
                         {{ Game.source }}
                            </td>
                        <td>
                         {{ Game.destination }}
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
     <p>No scores are available.</p>
    {% endif %}

</div>

<div>

</div>

{% endblock %}
